/* Code-Input Compatibility */
/* By WebCoder49 */
/* First Published on CSS-Tricks.com */


code-input {
  /* Allow other elems to be inside */
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 30vmin;
    font-size: 1.75vmin;
    font-family: monospace;
    line-height: 20pt;
    tab-size: 2;
    caret-color: black!important;
    white-space: pre-line;
    border-radius: 0px;
    background-color: #e9e9e9;
    border: none;
    box-sizing: border-box;
}

code-input textarea, code-input:not(.code-input_pre-element-styled) pre code, code-input.code-input_pre-element-styled pre {
  /* Both elements need the same text and space styling so they are directly on top of each other */
       margin: 0px!important;
    border: 0;
    width: 100%;
    padding: 0px;
    overflow: hidden!important;
}
code-input:not(.code-input_pre-element-styled) pre, code-input.code-input_pre-element-styled pre code {
  margin: 0!important;
  border: 0!important;
  padding: 0!important;
  overflow: auto!important;
  width: 100%!important;
  height: 100%!important;
}
code-input textarea, code-input pre, code-input pre * {
  /* Also add text styles to highlighing tokens */
  font-size: inherit!important;
  font-family: inherit!important;
  line-height: inherit!important;
  tab-size: inherit!important;
}


code-input textarea, code-input pre {
  /* In the same place */
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:30vmin;
      font-weight:600;
}


/* Move the textarea in front of the result */

code-input textarea {
  z-index: 1;
}
code-input pre {
  z-index: 0;
}


/* Make textarea almost completely transparent */

code-input textarea {
  color: transparent;
  background: transparent;
  caret-color: inherit!important; /* Or choose your favourite color */
}

/* Can be scrolled */
code-input textarea, code-input pre {
  overflow: auto!important;

  white-space: inherit;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
}

/* No resize on textarea; stop outline */
code-input textarea {
  resize: none;
  outline: none!important;
  scrollbar-width:none;
}

code-input textarea::-webkit-scrollbar {
display:none;
}

span.inline-color-wrapper {
    background: none!important;
    background-position: center;
    background-size: 110%;
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute!important;
    height: 1.75ch!important;
    margin-top: 0.5ch!important;
    border: none!important;
    outline: none!important;
    opacity: 7.5%!important;
    border-radius: 0vmin!important;
    transform: scale(1.6);
    user-select: none;
    pointer-events: none;
    overflow: hidden!important;
    width: 75%!important;
    padding-right: 15%!important;
    left: 0;
}



code-input, code-input textarea {
    padding: 0vmin;
    padding-right: 0vmin;
    padding-bottom: 0vmin;
}

